{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
create durag
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="m-4 text-center">Create A Durag</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto">
            <form method="POST" action="{% url 'create_product' %}" class="add-product-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <div>
                    <a href="{% url 'durags' %}" class="btn btn-info">Go Back</a>
                    <button type="submit" class="btn btn-success">Add New Rag</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}