{% extends "base.html" %}
{% load static %}

{% block extra_title %}
newsletter
{% endblock %}

{% block content %}
<div class="container-fluid text-center newsletter-main">
    <div class="row">
        <div class="col-12">
            <hr>
            <h4>Newsletter</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center p-5">
            <!-- Newsleter Form -->

            <form action="#" method="POST">
                <p>Please enter your email address to sign-up for our newsletter.</p>
                {% csrf_token %}
                {{ newsletter_form.email | as_crispy_field }}
                <button type="submit" class="btn btn-md btn-info">Subscribe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}