{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Carousel -->

<div class="container-fluid">
  <div class="row">
    <div class="col"> <img class="d-block w-100 img-fluid" src="media/black-myrag.jpg" alt="Blackrag">
      <h2>More Than Just A Rag</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>UK's Leading Durag Brand | Free Shipping on ALL orders</p>
    </div>
  </div>

  <div class="row">
            </div>
            <img class="d-block w-100 img-fluid" src="media/blue-myrag.jpg" alt="First slide">
          </div>
          <div>
            <img class="d-block w-100 img-fluid" src="media/bandana-myrag.jpg" alt="Third slide">
          </div>
</div>

<!-- <div class="col-12 mt-5 d-block pt-4 ">
</div> -->

{% endblock %}