{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col event-band">
    <p class=" font-italic p-1 m-0"> Free Shipping on ALL orders! </p>
  </div>
</div>
<div class="container-fluid index-main text-center">

  <div class="row">
    <div class="col p-0">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <img src="https://res.cloudinary.com/dlu3hxwmb/image/upload/v1667386841/favicon-32x32_yl5ldq.png" alt="Myrag"
            class="myrag-footer-logo mx-auto">
          <p class="dispay-1  mt-4"> More Than Just A Rag. </p>
          <p class="display-4 ">It's my rag.</p>
          <a href="{% url 'durags' %}" class="btn btn-secondary btn-success btn-lg shop-now p-2" role="button"
            aria-pressed="true">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center p-3">
  <div class="row">
    <div class="col">
      <p class="float-left lead">Browse Selection </p>
      <hr>
    </div>
  </div>
  <div class="row d-flex justify-content-center  recently-added">
    <!-- Create a index of product images to display a small gallery  -->
    {% for product in products %}
    <div class="card m-1 gallery-item" style="width: 12rem;">
      <div class="embed-responsive embed-responsive-4by3">
        <img src="{{ product.featured_image.url }}" class="card-img-top embed-responsive-item gallery-img"
          alt="{{ product.name }}">

      </div>
      <div class="card-body">
        <p class="card-text text-muted">{{ product.name }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>


{% endblock %}