.index-main {
  background-image: url("https://res.cloudinary.com/dlu3hxwmb/image/upload/v1667314431/z8wiwxx2ckddjef5tr29.jpg");
  background-position: center top;
  background-color: var(--clr-dark);
  background-size: cover;
}

.event-band {
  background-image: linear-gradient(to right, #007CC7, #0e1d26);
}

.jumbotron {
  background: none; 
  margin: 0;
  color: var(--clr-white);
}

.embed-responsive .card-img-top {
  object-fit: cover;
}

.gallery-img:hover,
.gallery-item:focus .gallery-img {
  transform: scale(2);
  opacity: 1;
  cursor: pointer;
}


.gallery-item:hover {
  background-color: var(--tetiery-blue);
}

.recently-added {
  background-color: #051119;
  border-radius: 10px;
  padding: 20px;
  width: 75%;
  height: 75%;
  margin: 0 auto;
}