.index-main {
  background-image: url("https://res.cloudinary.com/dlu3hxwmb/image/upload/v1667314431/z8wiwxx2ckddjef5tr29.jpg");
  background-position: center top;
  background-color: var(--clr-dark);
  background-size: cover;
}

.jumbotron {
  background: none; 
  margin: 0;
  color: var(--clr-white);
}

.embed-responsive .card-img-top {
  object-fit: cover;
}

.event-band {
  background-color: var(--extra-blue);
}

.gallery-img:hover,
.gallery-item:focus .gallery-img {
  transform: scale(2);
  opacity: 1;
  cursor: pointer;
}
