{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<!-- Checkout -->
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Thanks for your custom!</h4>
            <hr>
            <p>Your order information is detailed below, check your email for confirmation.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            <h5>Order Information</h5>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-5">Order No. :</div>
                <div class="col-12 col-sm-7 text-sm-right">{{ order.order_number }}</div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-5">
                    <p class="mb-0">Full Name:</p>
                </div>
                <div class="col-12 col-sm-7 text-sm-right">
                    <p class="mb-0">{{ order.full_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-5">
                    <p class="mb-0">Email:</p>
                </div>
                <div class="col-12 col-sm-7 text-sm-right">
                    <p class="mb-0">{{ order.email }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                    <h5>Delivery</h5>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-5">
                    <p class="mb-0">Address 1:</p>
                </div>
                <div class="col-12 col-sm-7 text-sm-right">
                    <p class="mb-0">{{ order.street_1 }}</p>
                </div>
            </div>

            {% if order.street_2 %}
            <div class="row">
                <div class="col-12 col-sm-5">
                    <p class="mb-0">Address 2:</p>
                </div>
                <div class="col-12 col-sm-7 text-sm-right">
                    <p class="mb-0">{{ order.street_1 }}</p>
                </div>
            </div>
            {% endif %}

            {% if order.county %}
            <div class="row">
                <div class="col-12 col-sm-5">
                    <p class="mb-0   ">County:</p>
                </div>
                <div class="col-12 col-sm-7 text-sm-right">
                    <p class="mb-0">{{ order.county }}</p>
                </div>
            </div>
            {% endif %}

            {% if order.postcode %}
            <div class="row">
                <div class="col-12 col-sm-5">
                    <p class="mb-0">Post Code:</p>
                </div>
                <div class="col-12 col-sm-7 text-sm-right">
                    <p class="mb-0">{{ order.postcode }}</p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    <hr>
                    <h5>Billing</h5>
                    <hr>
                </div>
            </div>
            {% for item in order.lineitems.all %}
            <div class="row">
                <div class="col-12 col-sm-5">
                    <p class=" mb-0">
                        {{ item.product.name }}
                    </p>
                </div>
                <div class="col-12 col-sm-7 text-sm-right">
                    <p class="small mb-0">x{{ item.quantity }} - £{{ item.product.price }} each</p>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <hr>
                <div class="col-12 col-sm-5">
                    <p class="mb-0">Total:</p>
                </div>
                <div class="col-12 col-sm-7 text-sm-right">
                    <p class="mb-0">£{{ order.total }}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col text-center">
        {% if from_profile %}
        <a href="{% url 'profile' %}" class="btn btn-info my-3" rel="prev">
            <span>
                Back to Profile
            </span>
        </a>

        {% else %}
        <a href="{% url 'durags' %}" class="btn btn-info my-3">
            <span>
                Continue Shoppping for more deals!
            </span>
        </a>
        {% endif %}
    </div>
</div>


</div>
</div>
{% endblock %}