{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<!-- Checkout -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 text-center">
            <hr>
            <h2>Checkout Form</h2>
            <hr>
        </div>
    </div>
    <div class="container checkout">

        <div class="row">
            <div class="col-md-6 order-md-last">
                <h3 class="text-center">Shopping Basket</h3>
                <div class="row">
                    <div class="col-3 checkout-rag-img">

                    </div>
                    <div class="col-3">

                    </div>
                    <div class="col-3">

                    </div>

                    <div class="col-3">
                        <p>Price</p>
                    </div>
                </div>

                <div class="row">
                    {% for durag_info in basket_durags %}
                    <div class="col-3 d-flex">
                        {% if durag_info.durag.featured_image.url %}
                        <div class="embed-responsive embed-responsive-4by3">
                            <img class="rounded img-fluid embed-responsive-item"
                              src="{{ durag_info.durag.featured_image.url }}"
                              alt="{{ durag_info.product.name }}">
                          </div>
                        {% else %}
                        <img src="#" alt="{{ durag_info.durag.name }}">
                        {% endif %}
                    </div>
                    <div class="col-3">
                        <p class="m-0">{{ durag_info.durag.name }}</p>
                    </div>
                    <div class="col-3">
                        <p class="m-0">{{ durag_info.quantity }}</p>
                    </div>

                    <div class="col-3 m-0">
                        <p>£ {{ durag_info.durag.price|calc_sub:durag_info.quantity }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-12 col-md-6 text-center mt-5">
                    <p class="my-0 text-right"><strong>Order Total: £{{ total | floatformat:2 }}</strong></p>
                </div>
            </div>

            <hr>
            <div class="col-md-6">
                <div class="row my-2 pl-3 pt-3">
                    <strong>
                        <p class="px-3">Please fill out the checkout form to purchase durags</p>
                    </strong>
                    <form action="{% url 'checkout' %}" id="payment-form" method="POST">
                        {% csrf_token %}
                        <fieldset class="form-details px-3">
                            <legend class="fieldset-title text-info">Details</legend>
                            {{ order_form.full_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                        </fieldset>
                        <fieldset class="form-delivery px-3">
                            <legend class="fieldset-title text-info">Delivery</legend>
                            {{ order_form.street_1 | as_crispy_field }}
                            {{ order_form.street_2 | as_crispy_field }}
                            {{ order_form.county | as_crispy_field }}
                            {{ order_form.postcode | as_crispy_field }}
                            <div class="float-left">
                                {% if user.is_authenticated %}
                                <label class="save-delivery text-warning" for="save-delivery">Save your delivery
                                    information to profile</label>
                                <input type="checkbox" name="save-delivery" id="save-delivery" checked>
                                {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <strong> New User? </strong><a class="text-info"
                                        href="{% url 'account_signup' %}">Create an account.</a> <strong>Already have an
                                        account?</strong>
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save your
                                    delivery information.
                                </label>
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset class="form-payment px-3">
                            <legend class="fieldset-title px-2 my-2 w-auto text-info">Card Payment</legend>
                            <!-- stripe card payment form -->
                            <div class="mb-3" id="card-details"></div>


                            <!-- stripe form error display -->
                            <div class="text-danger" id="card-errors" role="alert">
                            </div>
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>

                        <div class="m-4">
                            <a href="{% url 'basket' %}" class="btn btn-warning">Edit Basket</a>
                            <button id="submit-btn" class="btn btn-success m-3">Make Order</button>
                            <p><span>Your card will be billed <strong>£{{ total|floatformat:2 }}</strong></span></p>

                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}