{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block extra_title %}
basket
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<!-- Basket -->
<div class="container-fluid text-center {% if  not basket_durags %} h-100{% endif %} ">

  <div class="row">
    <div class="col-12">
      <hr>
      <h4>Basket <sup>* {{ durag_count }}</sup></h4>
      
      <hr>
    </div>
  </div>
  <div class="row d-flex justify-content-center py-4">
    <div class="col">
      {% if basket_durags %}
      <div class="row">
        <div class="col">
          <p>Total Price: £ {{ total }}</p>
        </div>
      </div>
      <!-- create table to house durags added to basket -->
      <div class="row table-responsive rounded basket-display">
        <table class="table table-striped table-borderless table-sm">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Durag</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Sub Total</th>
            </tr>
          </thead>
          <tbody>
            <!-- for each item in basket to fill out table -->
            {% for durag_info in basket_durags %}
            <tr>
              <td class="">
                <!-- name of durag and image -->
                {% if durag_info.durag.featured_image %}
                <img class="rounded img-fluid" style="width: 50px; height: 50px; object-fit: cover;"
                  src="{{ durag_info.durag.featured_image.url }}" alt="{{ durag_info.product.name }}">
                {% else %}
                <img class="rounded img-fluid" style="width: 100px; height: 100px; object-fit: cover;"
                  src="{% static 'images/noimage.png' %}" alt="{{ durag_info.product.name }}">
                {% endif %}
              </td>
              <td>
                <p>{{ durag_info.durag.name }}</p>
              </td>
              <td>
                <!-- durag price -->
                <p>£{{ durag_info.durag.price }}</p>
              </td>

              <td>
                <!-- durag quantity -->
                {% include 'includes/update_form.html' %}
              </td>

              <td>
                <!-- durag sub total -->
                <p>£{{ durag_info.durag.price | calc_sub:durag_info.quantity }}</p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="row p-2">
        <div class="col">
          <a href="{% url 'durags' %}" class="btn btn-info mr-4" rel="prev">
            Keep Looking
          </a>
          <a href="{% url 'checkout' %}" class="btn btn-success ml-4" rel="next">
            Secure Checkout
          </a>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col">
          <p class="bold lead">Your shopping basket is <strong>empty</strong>.</p>
          <a href="{% url 'durags' %}" class="btn btn-outline text-white btn-md" rel="prev"><h4><u>View Durags</u></h4></a>
        </div>
      </div>
      {% endif %}



      <!-- endif -->
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
<script type="text/javascript">
  // update quantity link
  $('.update-basket').click(function (e) {
    var form = $(this).prev('.update-form');
    form.submit();
  })

  // delete quantity link
  $('.delete-basket').click(function (e) {
    var csrf_token = "{{ csrf_token }}";
    var duragId = $(this).attr('id').split('delete_')[1];
    var url = `/basket/delete/${duragId}/`;
    var data = {
      'csrfmiddlewaretoken': csrf_token
    }

    $.post(url, data)
      .done(function () {
        location.reload();
      });
  })
</script>

{% endblock %}