{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>.</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Basket -->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <h2>Shopping Basket</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- if basket_items -->

      <!-- else -->

      <p class="bold lead">Your shopping basket is <strong>empty</strong>.</strong></p>
      <a href="{% url 'durags' %}" class="btn btn-outline btn-lg">
        Vew Durags
      </a>



      <!-- endif -->
    </div>
  </div>
  {% endblock %}