/* General Styling */

body {
    background-color: #242423;
    background-size: cover;
}

h1, h2, h3, h4, h5, a{
 color: #FFD700;
 text-decoration: solid;
}

p {
    color: #d39e00;
}

html {
    height: 100%;
}

/* Navbar */

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 215, 0.9);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-toggler {
    background-color: #B60000;
}

/* Main Page */

.nav-item {
    padding: 0 .5rem;
}

.message-container {
    width: 100%;
    margin: 1em auto;
    text-align: center;
    font-size: 200%;
}

/* All Durags Page */

.card {
    background-color: rgba(255, 255, 214, 0.3);

}

input[type=number]{
    -moz-appearance: textfield;
}

/* Basket Page */

.bsk-link {
    font-size: 0.7rem;
    cursor: pointer;
}

/* remove input arrows  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty_input {
    width:2.5em;
}

.table{
	text-align:center
}