/* General Styling */
:root {
    --primary-blue: #12232E;
    --secondary-blue: #203647;
    --extra-blue: #007CC7;
    --clr-white: #EEFBFB;
    --clr-dark: #242423;

}

html,
body,
header {
    height: 100%;
}

body {
    background-color: var(--background-blue);
    background-size: cover;
    color: var(--clr-white);
}


h1,
h2,
h3,
h4,
h5,
a,
p,
li,
thead {
    color: var(--clr-white);
    text-decoration: solid;
}

hr {
    border-top: 1px solid var(--secondary-blue);
}

/* Navbar */

.navbar-brand {
    color: var(--extra-blue);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--clr-white);

}

.navbar {
    background-color: var(--secondary-blue);
}

.navbar-toggler {
    background-color: var(--extra-blue);
}

/* Main Page */

.nav-item {
    padding: 0 .5rem;
}

.message-container {
    width: 100%;
    margin: 1em auto;
    text-align: center;
    font-size: 200%;
}


/* All Durags Page */

.card {
    background-color: rgb(32, 54, 71, 0.3);

}

input[type=number] {
    -moz-appearance: textfield;
}

/* Basket Page */

.bsk-link {
    font-size: 0.7rem;
    cursor: pointer;
}

/* remove input arrows  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty_input {
    width: 2.5em;
}

.table {
    text-align: center
}

/* toasts */
.toast-container {
    z-index: 999999999999;
    position: fixed;
    top: 56px;
    right: 5px;
}

.toast {
    overflow: visible;
}

.toast p {
    color: var(--clr-dark);
}

.toast-status-bar {
    height: 3px;
}

.basket-display-toast {
    height: 75px;
    overflow-y: auto;
    overflow-x: hidden;
}

.toast-body {
    background-color: var(--extra-blue);
}

/* Footer */

footer {
    margin-top: 2%;
    padding-top: 2em;
    background-color: var(--secondary-blue);
    display: flex;
    flex-flow: row wrap;
}

footer ul {
    list-style-type: none;
}