/* General Styling */
:root {
    --primary-blue: #12232E;
    --secondary-blue: #203647;
    --extra-blue: #007CC7;
    --clr-white: #EEFBFB;
    --clr-dark: #242423;

}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--primary-blue);
    background-size: cover;
    /* color: var(--clr-white); */
}


h1,
h2,
h3,
h4,
h5,
a,
p,
li,
label,
thead {
    color: var(--clr-white);
}

hr {
    border-top: 1px solid var(--secondary-blue);
}

.card {
    background-color: rgb(32, 54, 71, 0.3);

}
/* Navbar */

.navbar-brand {
    color: var(--extra-blue);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--clr-white);

}

.nav-link:hover {
    padding: 6px;
    border-bottom: 4px solid var(--secondary-blue);
    border-bottom-right-radius: 5px;
}
.navbar {
    background-color: var(--primary-blue);
    border-bottom: 3px solid var(--secondary-blue);
}

.navbar-toggler {
    background-color: var(--extra-blue);
}

.nav-item {
    padding: 0 .5rem;
}

.message-container {
    width: 100%;
    margin: 1em auto;
    text-align: center;
    font-size: 200%;
}

/* All Durags Page */


/* Basket Page */

.bsk-link {
    font-size: 0.7rem;
    cursor: pointer;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* remove input arrows  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty_input {
    width: 2.5em;
}

.table {
    text-align: center
}

/* toasts */
.toast-container {
    z-index: 999999999999;
    position: fixed;
    top: 56px;
    right: 5px;
}

.toast {
    overflow: visible;
}

.toast p {
    color: var(--clr-white);
}

.toast-header { 
    background-color: var(--primary-blue);

}

.toast-body{ 
    background-color: var(--secondary-blue);
}
.toast hr {
    color: var(--primary-blue);
}

.toast-status-bar {
    height: 3px;
}

.basket-display-toast {
    height: 75px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Footer */

footer {
    border-top: 2px solid var(--secondary-blue);
    padding-top: 2em;
    background-color: var(--primary-blue);
    display: flex;
    flex-flow: row wrap;
}

footer ul {
    list-style-type: none;
}