.products-main-card {
    background-color: var(--clr-dark);
    border-right: 4px solid var(--secondary-blue);
    border-radius: 3px;
}

.products-main-card:hover {
    background-color: var(--secondary-blue);
    border-right: 4px solid var(--clr-dark);
}

.text-white {
    color: black;
}

.durag-display-main {
    width: 75%;
    height: 75%;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--tertiary-blue);
}