{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
Wrong Turn
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col text-center mx-auto">
            <hr>
            <h3>Wrong Turn!</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-3 mx-auto">
            <p>
                Oops! The page you are looking for isn't available.
            </p>
            <a href="{% url 'durags' %}" class="btn btn-md btn-success" aria-label="Back to myrag homepage">
                Return to Myrag
            </a>
        </div>
    </div>
</div>
{% endblock %}