{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block extra_title %}
contact
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid text-center newsletter-main vh-100">
    <div class="row">
        <div class="col-12">
            <hr>
            <h4>Contact Us</h4>
            <hr>
        </div>
    </div>
    <div class="row d-flex justify-content-center py-4">
        <p>Have a question? Ask here.</p>
        <form action="" method="POST">
            
        </form>
    </div>
    <div class="row d-flex justify-content-center py-4">
        <a class="btn btn-info"><i class="fab fa-facebook social">Facebook</i></a>
        <a class="btn btn-info">Email Us</a>
        <a class="btn btn-info">Call Us </a>

    </div>
{% endblock %}