.basket-display {
    background-color: var(--tertiary-blue);
    max-width: 1000px;
    height: 20rem;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
}

.bsk-link {
    font-size: 0.7rem;
    cursor: pointer;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* remove input arrows  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty_input {
    width: 2.5em;
}

.table {
    text-align: center
}