{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Myrag - store </title>
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <h2>Shop Durags</h2>
      <hr class="color-success">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    {% for product in products %}
    <div class="card m-1" style="width: 18rem;">
      <div class="embed-responsive embed-responsive-4by3">
      <img src="{{ product.featured_image.url }}" class="card-img-top embed-responsive-item" alt="{{ product.name }}">
    </div>
      <div class="card-body">
        <h5 class="card-title"> {{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.price }}</p>
        <form action="{% url 'add_to_basket' product.id %}" method="POST">
          {% csrf_token %}
          <select name="quantity" id="{{ product.pk }}_quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <button type="submit" class="btn btn-success">add to basket</button>
        
        </form>
        
      </div>
    </div> 
    {% endfor %}
  </div>
</div>
{% endblock %}