{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Myrag - add product </title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="m-4 text-center">Edit Durag</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="edit-product-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <a href="{% url 'durags' %}" class="btn btn-info">Go Back and Cancel</a>
                <button type="submit" class="btn btn-success">Update Rag</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}