{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Myrag - add product </title>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<section class="container-fluid">
    <div class="container">
        <h1 class="m-4 text-center">Add a new Product</h1>
        <form action="POST" class="add-product-form">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" value="Post" class="btn btn-success mb-4">Add New Rag</button>
        </form>
    </div>
</section>

{% endblock %}