{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Myrag - create product </title>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="" alt="Product image">
        </div>
        <div class="col">
            <form action="POST" class="d-flex justify-content-center">
                    <div class="form-group">
                      <label for="duragStyle">Choose Your Style: </label>
                      <select class="form-control" id="duragStyle">
                        <option>Two-Tone</option>
                        <option>Camo</option>
                        <option>Bandana</option>
                      </select>
                      <div class="form-group">
                        <label for="duragColorPrimary">Choose Your Primary Color: </label>
                        <select class="form-control" id="duragStyle">
                            <option>Red</option>
                            <option>Blue</option>
                            <option>Green</option>
                        </select>
                        {% if Two-Tone %}
                        <label for="duragColorSecondary">Choose Your Secondary Color: </label>
                        <select class="form-control" id="duragStyle">
                            <option>Red</option>
                            <option>Blue</option>
                            <option>Green</option>
                          </select>
                        {% endif %}
                        <label for="duragMaterial">Choose Your Fabric: </label>
                        <select class="form-control" id="duragMaterial">
                          <option>Satin</option>
                          <option>Velvet</option>
                          <option>Silk</option>
                        </select>
                      </div>
                      </select>
              
                      <label for="exampleFormControlTextarea1">Message: (Optional)</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      <button type="submit" class="btn btn-danger m-2">Create Order</button>
                    </div>


            </form>
        </div>
    </div>
</div>
{% endblock %}