{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}
store
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container-fluid text-center p-2 details-main">
  <div class="row m-3">
    {% if request.user.is_superuser %}
    <a href="{% url 'delete_product' product.id %}" class=" text-danger font-weight-bold large"><i class="far fa-trash-alt"></i></a>
    {% endif %}
    <div class="col-12">
      <hr>
      <h4>{{ product.name }} details</h4>
      <hr>
    </div>
  </div>

  <div class="row d-flex justify-content-center durag-details-container">

    <div class="embed-responsive embed-responsive-1by1 details-img-item p-2">
      {% if product.featured_image %}
      <img src="{{ product.featured_image.url }}" class="embed-responsive-item details-img" alt="{{ product.name }}">
      {% else %}
      <img src="{% static 'images/noimage.png' %}" class="embed-responsive-item details-img" alt="{{ product.name }}">

     {% endif %}
    </div>

    <div class="p-2">
      <div>
        <hr class="m-0">
        <p class="m-0"> {{ product.name }}</p>
        <p> {{ product.material }}</p>
        <p class="m-0">{{ product.description }}</p>
        <p class="m-0">£{{ product.price }}</p>
        <hr>
      </div>
      <div>
        <form action="{% url 'add_to_basket' product.id %}" method="POST">
          {% csrf_token %}
          <select name="quantity" id="{{ product.pk }}_quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
          </select>
          <button type="submit" class="btn btn-sm bg-success text-white small mt-1"> Add to basket</button>
          {% if request.user.is_superuser %}
          <a href="{% url 'edit_product' product.id %}" class="font-weight-bold large text-warning mx-2"><i class="far fa-edit"></i></a>
          {% endif %}
        </form>

      </div>
    </div>
  </div>
  <hr>
  <div class="col">
    {% if request.user.is_superuser %}
  {% endif %}
  <a href="{% url 'durags' %}" class="btn btn-md bg-info text-white  my-5"> Take me back</a></div>
</div>
{% endblock %}